/*body{*/
    /*!*background-color: rgba(2, 2, 2, 0.5);*!*/
    /*!*background-image: url(../../images/bg.jpg);*!*/
/*}*/
input{
    height: 30px;
    padding: 2px;
}
#header_area {
    padding-top: 15px !important;
}
@media (min-width: 768px){
    .navbar-nav>li>a {
        /*padding-top: 28px;*/
        /*padding-bottom: -13px;*/
    }
}


.logo {
    /*margin-top: 5px;*/
}

.logo h2 {}

.logo h2 a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 13px;
    display: block;
    font-size: 26px;
    padding-top: 5px;
}
.exit{
    /*float: right;*/
    border-radius: 1px;
    /*padding: 7px;*/
    background-color: #209b60;
    /*margin: 14px 10px;*/
    /*display: inline-block;*/
    text-decoration: none;
    cursor: pointer;
    color: #2d3033;
}
.exit:hover{
    /*color: #209b60;*/
    /*background-color: transparent;*/
    background-color: #209B60 !important;
    text-decoration: none;
}
.nav>li>a{
    cursor: pointer;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: rgba(32, 155, 96, 0) !important;
    color: #209B60;
}


.main{

    margin-top: 0.5%;
}

.left{
    padding: 2% 0 ;
    background-color: #3c3f41;
}
.head-portrait{
    width: 100px;
    height: 100px;
    margin: 3% auto;
    /*background-color: #7190ff;*/
    /*border: 1px solid #000;*/
    border-radius: 50%;
    overflow: hidden;
    text-align: center;

}
.head-portrait img{
    width: 100px;
}
.left-user p{
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #209b60;
    padding-bottom: 3%;
}
.left ul{
    padding: 0;
    /*background-color: #ff51ca;*/
}
.left ul li{
    color: #FFFFFF;
    font-size: 1.1em;
    /*margin-bottom: 2px;*/
    text-align: center;
    list-style: none;
    background-color: #3c3f41;
    padding: 6%;
    cursor: pointer;
}
.left ul li:nth-of-type(2){
    padding-left: 15%;
}
.left ul li:hover{
    background-color: #209b60;
    color: #FFFFFF;
}
.left ul li:visited{
    background-color: #209b60;
    color: #FFFFFF;
}
/*.active{*/
    /*background-color: #209b60 !important;*/
    /*color: #FFFFFF !important;*/
/*}*/
.right{
    /*margin-top: 50px;*/
    /*background-color: #7b7b7b;*/
    padding: 1% 7%;
}
#userMessage{
    padding: 5%;
    /*background-color: #ff6ac8;*/
}
#userMessage div{
    font-size: 15px;
    padding: 2%;
    /*border: 1px solid #000;*/
    margin-bottom: 0.5%;
}
#userMessage div span:first-of-type{
    display: inline-block;
    width: 30%;
    /*background-color: #cc56ff;*/
    font-weight: 600;
}
#userMessage a{
    cursor: pointer;
    margin: 10px;
    float: right;
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #209b60;
}
#userMessage a:hover{
    text-decoration: none;
}


/*修改个人信息*/
#changeMessage{
    padding: 5%;
    /*background-color: #ff6ac8;*/
}
#changeMessage div{
    font-size: 15px;
    padding: 2%;
    /*border: 1px solid #000;*/
    margin-bottom: 0.5%;
}
#changeMessage div span:first-of-type{
    display: inline-block;
    width: 30%;
    /*background-color: #cc56ff;*/
    font-weight: 600;
}
#changeMessage a{
    cursor: pointer;
    margin: 10px;
    float: right;
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #209b60;
}
#changeMessage a:hover{
    text-decoration: none;
}
/*-----------------已发布的工作--------------*/
.my-apply-jobs{
    background-color: #474747;
    padding: 4.5%;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.my-apply-jobs p{
    width: 100%;
    padding: 0.7%;
    /*background-color: #209b60;*/
}
.apply-start-date{
    margin-left: 2%;
    /*background-color: #d360ff;*/
}
.apply-end-date{
    margin-left: 1%;
}
.apply-job-name{
    margin-left: 2%;
}
.apply-job-company{
    margin-left: 3%;
}
.apply-job-address{
    margin-left: 3%;
}
.apply-job-order{
    margin-left: 2%;
}
.apply-job-delete a{
    /*display: inline-block;*/
    float: right;
    margin-right: 2%;
    background-color: #209b60;
    padding: 8px;
    color: #FFFFFF;
    text-decoration: none;
}
.apply-job-delete a:hover{
    color: white;
    text-decoration: none;
}
/*---------发布职位------------------*/
.apply-jobs-now{
    /*width: 100%;*/
    /*height: 800px;*/
    /*background-color: #4bb4ff;*/
    padding: 1.5%;
    margin-bottom: 10px;
    /*color: #FFFFFF;*/
}
.apply-jobs-now p{
    /*background-color: #fff;*/
    padding: 7px 0;
}
.input-job-name{
    /*background-color: #ff3bee;*/
}
.layui-btn{
    background-color: #209b60 !important;
}
.apply-yes{
    float: right;
    margin-top: 1%;
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 500;
    text-align: right;
    font-size: 16px;
}
